@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso Denegado";
}

<div class="text-center">
    <h1 class="text-danger">Acceso denegado</h1>
    <h5 class="text-danger">Tú no tienes los permisos para acceder a esta opción</h5>
    <img src="~/Imagenes/Acceso denegadon2.png" style="height:400px; width:500px" />
</div>
